<!--
<div class="container">
  <div class="fixed-top text-center center animate__animated animate__fadeIn mt-4 text-muted">
    <div id="status">Retrying..</div>
  </div>
  <div class="text-muted text-center center">
    <div class="row align-items-center vh-100">
      <div class="col">
        <div [hidden]="isConnected">
          <div class="animate__animated animate__fadeIn">
            <div class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x text-secondary"></i>
              <i class="fa fa-phone-slash fa-stack-1x fa-inverse"></i>
            </div>
            <p class="mt-2 fa-md">
              Not reachable
            </p>
          </div>
        </div>
        <div [hidden]="!isConnected">
          <div [hidden]="isCalling">
            <div class="animate__animated animate__fadeIn">
              <button id="call" class="no-style" disabled>
                <div class="fa-stack fa-3x hvr-grow">
                  <i class="fa fa-circle fa-stack-2x text-success cursor"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse cursor"></i>
                </div>
              </button>
              <p class="mt-2 fa-md">
                Click to call
              </p>
            </div>
          </div>

          <div [hidden]="!isCalling">
            <div class="mb-5 animate__animated animate__fadeInUp">
              <span class="btn_check mx-1">
                <input type="checkbox" id="hold" name="hold" disabled>
                <label class="btn btn-default hvr-glow" for="hold">
                  <i class="fa fa-pause"></i> Hold
                </label>
              </span>
              <span class="btn_check mx-1">
                <input type="checkbox" id="mute" name="mute" disabled>
                <label class="btn btn-default hvr-glow" for="mute">
                  <i class="fa fa-microphone-slash mr-2"></i> Mute
                </label>
              </span>
            </div>

            <div class="mb-5 animate__animated animate__zoomIn">
              <audio id="remoteAudio" controls>
                <p>Your browser doesn't support HTML5 audio.</p>
              </audio>
            </div>

            <div class="animate__animated animate__fadeInDown">
              <button id="hangup" class="no-style" disabled>
                <div class="fa-stack fa-3x hvr-grow">
                  <i class="fa fa-circle fa-stack-2x text-danger cursor"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse cursor fa-flip-both"></i>
                </div>
              </button>
              <p class="mt-2 fa-md">
                Hang up
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="text-center center text-muted">
        <div id="status">Retrying..</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <div class="text-muted text-center center">
    <div class="row align-items-center vh-100">
      <div class="col">
        <div [hidden]="isConnected">
          <div class="animate__animated animate__fadeIn">
            <div class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x text-secondary"></i>
              <i class="fa fa-phone-slash fa-stack-1x fa-inverse"></i>
            </div>
            <p class="mt-2 fa-md">
              Not reachable
            </p>
          </div>
        </div>
        <div [hidden]="!isConnected">
          <div [hidden]="isCalling">
            <div class="animate__animated animate__fadeIn">
              <button id="call" class="no-style" disabled>
                <div class="fa-stack fa-3x hvr-grow">
                  <i class="fa fa-circle fa-stack-2x text-success cursor"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse cursor"></i>
                </div>
              </button>
              <p class="mt-2 fa-md">
                Click to call
              </p>
            </div>
          </div>

          <div [hidden]="!isCalling">
            <div class="mb-5 animate__animated animate__fadeInUp">
              <span class="btn_check mx-1">
                <input type="checkbox" id="hold" name="hold" disabled>
                <label class="btn btn-default hvr-glow" for="hold">
                  <i class="fa fa-pause"></i> Hold
                </label>
              </span>
              <span class="btn_check mx-1">
                <input type="checkbox" id="mute" name="mute" disabled>
                <label class="btn btn-default hvr-glow" for="mute">
                  <i class="fa fa-microphone-slash mr-2"></i> Mute
                </label>
              </span>
            </div>

            <div class="mb-5 animate__animated animate__zoomIn">
              <audio id="remoteAudio" controls>
                <p>Your browser doesn't support HTML5 audio.</p>
              </audio>
            </div>

            <div class="animate__animated animate__fadeInDown">
              <button id="hangup" class="no-style" disabled>
                <div class="fa-stack fa-3x hvr-grow">
                  <i class="fa fa-circle fa-stack-2x text-danger cursor"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse cursor fa-flip-both"></i>
                </div>
              </button>
              <p class="mt-2 fa-md">
                Hang up
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</ion-content>
