#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

audio {
  margin: 8px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 100px;
  margin: 8px;
}

input {
  margin: 8px;
}

.dtmf {
  margin: 8px;
}

.btn_check {
  input {
    display: none;
  }
  i {
    width: 14px;
    text-align: left;
  }
  input:checked + label {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}
